.App {
  text-align: center;
  display: flex;
  flex-direction: column;
  background-color: whitesmoke;
}

a {
  max-width: 50px;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    'Pacifico' sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

h1 {
  margin-top: 0;
}

h3 {
  margin-top: 0;
}

li {
  list-style: none;
}

p {
  margin: 2px;
}

.footer {
  height: 100px;
  background-color: white;
  border-top: rgb(84, 83, 83) solid 1px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  font-family: 'Patrick Hand';
  font-size: x-large;
}

.footer-links img {
  height: 80px;
}

.header-image {
  background-image: url('./assets/thomas-tastet-hSODeSbvzE0-unsplash.jpg');
  background-color: #cccccc;
  height: 500px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.header-text {
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  font-family: 'Patrick Hand';
}

.header-h1 {
  font-size: 4rem;
}

.header-h2 {
  font-size: 3rem;
}

.project-card {
  flex: 0 1 40%;
  padding: 5px 40px 20px 40px;
  flex-direction: column;
  border: rgb(84, 83, 83) solid 1px;
  background-color: rgb(210, 209, 209);
  margin: 1rem;
  border-radius: 20px;
  font-family: 'Patrick Hand';
}

.project-card img {
  max-width: 95%;
  border: rgb(84, 83, 83) solid 1px;
}

.project-card-header {
  display: flex;
  flex-direction: row;
  /* justify-content: center; */
  margin-bottom: 10px;
  width: 100%;
}

.project-card-header-image {
  justify-self: right;
  max-width: 20%;
  border: rgb(210, 209, 209) solid 1px;
}

.project-info {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  font-size: larger;
  margin-bottom: 20px;
}

.project-list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  padding: 0px;
  margin: 20px 0px;
}

.project-tech {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.svg {
  max-width: 10%;
  align-self: flex-end;
  margin-left: 10px;
  margin-bottom: 10px;
}
